* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    height: 100%;
    color: white;
    display: flex;
    margin: auto;
    justify-content: flex-start;
    align-items: center;
}
header ul {
    margin-left: auto;
    list-style: none;
    display: flex;
    justify-content: end;
    gap: 10px;
}