* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  padding: 20px;
  background-color: #3bb0e6;
  color: rgb(253, 250, 250);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  margin: -10px 0;
}
.navbar .logo {
  font-size: 1.8rem;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}
.nav-links a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: 500;
}

.nav-links a:hover {
  cursor: pointer;
  text-decoration: underline;
}

table {
  width: 100%;
  border: #000000 2px solid;
  border-radius: 0px;
  padding: 10px;
}

button {
  margin: 5px;
  padding: 0.4vh;
  background-color: #3bb0e6;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #ffffff;
  color: #3bb0e6;
}

th, td {
  padding: 10px;
  text-align: left;
  background-color: aliceblue;
}
